doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="/lib/d3.js")
    script(src="/javascripts/DrawChart.js")
    
    
  body
    block content
